.title{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .paper{
    background-image: url("/image/wallpaper.jpg");
    width: 100%;
    height: 100vh;  
      background-position: top;
    background-size: cover;
  }
  
